.btn {
  @extend .roboto-24-medium;
  display: inline-block;
  margin: 0;
  padding: 16px 12px;
  cursor: pointer;
  user-select: none;
  color: $white;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 5px;

  &:focus,
  &:active {
    outline: none;
  }
}

.btn-full {
  background: linear-gradient(122.76deg, $blue -35.72%, $blue-light 172.73%);
  border: 2px solid $blue;
  transition: background 0.3s, color 0.3s;

  @include hover {
    color: $blue;
    background: $white;
  }
}

.btn-ghost {
  padding: 16px 40px;
  background: $white;
  border: 2px solid $blue;
  color: $blue;
  transition: background 0.3s, color 0.3s;

  @include hover {
    color: $white;
    background: linear-gradient(122.76deg, $blue -35.72%, $blue-light 172.73%);
  }

  @include mq(768) {
    padding: 16px 32px;
  }

  @include mq(480) {
    padding: 16px 24px;
  }
}

@include mq(1921, min) {
  .btn {
    padding: 0.83333vw 0.625vw;
    border: 0.10417vw solid transparent;
    border-radius: 0.26042vw;
  }
  .btn-full {
    border: 0.10417vw solid $blue;
  }
  .btn-ghost {
    padding: 0.83333vw 2.08333vw;
    border: 0.10417vw solid $blue;
  }
}
