.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.banner__title {
  @extend .roboto-48-normal;
  max-width: 600px;
  width: 100%;
  color: $white;
  text-align: center;
}

@include mq(1921, min) {
  .banner {
    margin-bottom: 2.5vw;
  }
  .banner__title {
    max-width: 31.25vw;
  }
}
