.quiz {
  background-color: $white;
  margin-top: 64px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
}

.quiz__wrapper {
  padding: 92px 54px;
}

.quiz__header {
  display: flex;
  align-items: center;
  color: $blue;
  margin-bottom: 32px;

  h2 {
    margin-right: 16px;
    font-size: 32px;
  }

  span {
    font-size: 32px;
  }

  @include mq(450) {
    flex-direction: column;
  }
}

.quiz__header-score {
  margin-right: 32px;

  @include mq(450) {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.quiz__header-score,
.quiz__header-number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz__content {
  margin-bottom: 16px;
}
.quiz__content-btn-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;

  @include mq(991) {
    grid-template-columns: 1fr;
  }
}

.quiz__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 12px;
  margin-bottom: 32px;
}

.question-text {
  font-size: 42px;
  font-weight: 700;
  color: $blue;
  text-align: center;
  margin-bottom: 64px;
}

.hide {
  display: none;
}
