.quiz {
  background-color: $white;
  margin-top: 64px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.quiz__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;

  @include mq(991) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  @include mq(768) {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.quiz__header {
  display: flex;
  align-items: center;
  color: $blue;
  margin-bottom: 32px;

  h2 {
    @extend .roboto-32-normal;
    margin-right: 16px;
  }

  span {
    @extend .roboto-32-normal;
  }

  @include mq(991) {
    margin-bottom: 24px;
  }

  @include mq(768) {
    margin-bottom: 16px;
  }

  @include mq(450) {
    flex-direction: column;
  }
}

.quiz__header-score {
  margin-right: 32px;

  @include mq(450) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.quiz__header-score,
.quiz__header-number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz__content-btn-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;

  @include mq(991) {
    grid-template-columns: 1fr;
    margin-bottom: 48px;
  }

  @include mq(768) {
    margin-bottom: 32px;
  }

  @include mq(480) {
    margin-bottom: 24px;
  }
}

.quiz__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-gap: 12px;
  margin-bottom: 32px;
}

.question-text {
  @extend .roboto-42-bold;
  color: $blue;
  text-align: center;
  margin-bottom: 64px;

  @include mq(991) {
    margin-bottom: 48px;
  }

  @include mq(768) {
    margin-bottom: 32px;
  }

  @include mq(480) {
    margin-bottom: 24px;
  }
}

.hide {
  display: none;
}

@include mq(1921, min) {
  .quiz {
    margin-top: 3.33333vw;
    border-top-right-radius: 1.66667vw;
    border-top-left-radius: 1.66667vw;
  }
  .quiz__wrapper {
    padding-top: 5.20833vw;
    padding-bottom: 5.20833vw;
  }
  .quiz__header {
    margin-bottom: 1.66667vw;
    h2 {
      margin-right: 0.83333vw;
    }
  }
  .quiz__header-score {
    margin-right: 1.66667vw;
  }
  .quiz__content-btn-box {
    grid-gap: 0.625vw;
    margin-bottom: 3.33333vw;
  }
  .quiz__controls {
    grid-gap: 0.625vw;
    margin-bottom: 1.66667vw;
  }
  .question-text {
    margin-bottom: 3.33333vw;
  }
}
