*,
::before,
::after {
  box-sizing: border-box;
}

body {
  @extend .roboto-16-normal;
  background: linear-gradient(122.76deg, $blue -35.72%, $blue-light 172.73%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
figure {
  margin: 0;
  padding: 0;
}

b,
strong {
  font-weight: 700;
}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $black;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  touch-action: manipulation;
}

.wrapper {
  max-width: 1660px;
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@include mq(1921, min) {
  .wrapper {
    max-width: 86.45833vw;
    padding: 0 1.25vw;
  }
}
